@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&family=Pacifico&display=swap');

:root {
    --red: #d32f2f;
    --blue: #1e4fa6;
    --blue-dark: #1e3c72;
    --dark: rgba(0,0,0,.65);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}


.hero {
    min-height: 100vh;
    background:
        linear-gradient(var(--dark), var(--dark)),
        url("https://media.licdn.com/dms/image/v2/D4D12AQEZbGwHNNsucw/article-cover_image-shrink_720_1280/article-cover_image-shrink_720_1280/0/1723115372722?e=2147483647&v=beta&t=HAETG9xiZz-dPEsvKA8tD0568wN_RmfzS8kvyc1tQ8c");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 40px 80px;
    display: flex;              
    flex-direction: column;     
    justify-content: center;     
    align-items: center;
}

.navbar {
    display: inline-flex;
    margin-bottom: 35px;
    
}

.navbar a {
    padding: 14px 36px;
    margin: 20px;
    background: #d9d9d9;
    gap: 25px;
    color: #000;
    border-radius: 30px;
    font-size: 17px;
    font-weight: bolder;
    text-decoration: none;
    transition: 0.3s ease-out;
}

.dl-btn{
    display: inline;
    margin-left: 200px;
}

.dl-btn a.download-btn{
   
    font-size: 17px;
    padding: 13px 22px;
    transition: 0.3s;
}

.navbar a.active {
    background: var(--red);
    color: #fff;
}

.navbar a:hover {
    background: #bfbfbf;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 70px;
}


.text {
    max-width: 780px;
    text-align: center;
}

.title {
    font-family: 'Pacifico', cursive;
    font-size: 70px;
    margin-bottom: 25px;
    color: #ffffff;
    text-shadow: 2px 2px 3px rgba(255,255,255,0.15);
}

.desc {
    font-size: 14px;
    line-height: 1.8;
    margin-bottom: 18px;
    margin-top: 69px;
    text-align: justify;
}

.section-title {
    font-weight: 600;
    margin-top: 10px;
    text-align: center; 
}




.download-btn:hover {
    background: #0d5cab;
}


.card {
    border-radius: 30px;
    max-width: 520px;
    width: 100%;
}

.card img {
    width: 100%;
    border-radius: 15px;
    display: block;
}


.contact-list strong {
    display: block;
    margin-top: 50px;
    font-weight: 600;
}



.submit-btn {
    background: var(--red);
    color: #fff;
    padding: 12px 28px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s;
}

.submit-btn:hover {
    background: #b71c1c;
}

/* Responsive for form */
@media (max-width: 1024px) {
    .contact-form {
        margin-top: 40px;
    }

    .form-row {
        flex-direction: column;
    }
}

/*tablet*/
@media (max-width: 1024px) {

    .hero {
        padding: 30px;
    }

    .content {
        flex-direction: column;
        text-align: center;
        gap: 40px;
    }

    .title {
        font-size: 50px;
    }

    .desc {
        text-align: center;
    }

    .navbar {
        justify-content: center;
    }

    .card {
        max-width: 90%;
    }
}

/*mobile*/
@media (max-width: 576px) {

    .hero {
        padding: 20px;
    }

    .title {
        font-size: 42px;
    }

    .desc {
        font-size: 13px;
        line-height: 1.6;
    }

    .download-btn {
        padding: 10px 20px;
        font-size: 14px;
    }
}
